{% extends "base.html" %}
{% load link_tags %}
{% load i18n %}
{% block content %}
<br>
Register by providing a team name. You will be added to the new team by default, you can also specify two additional team members, however, this is optional.    
Note that by registering a team, you also sign up for the contest.
<br>
<br>

{%if user.is_authenticated %}
<p>
If you are going to participate online (not being present at NTNU), 
please specify what city you are participating from in in the offsite field
</p>
		<form class="form-horizontal" method="post" action="." role="form">
		  {% csrf_token %}
		    
		  {% for field in form %}
		        <div class="form-group">
		            <label for="{{ field.id_for_label }}" class="col-lg-3 control-label">{{ field.label }}</label> 
		            <div class="col-lg-5">
		            {% if field.label == 'Onsite' %}
		            	{% for radio in form.onsite %}
			            <div class="radio-inline">
						  <label for="id_onsite_{{ forloop.counter0 }}">
							{{ radio.tag }}
						    {{ radio.choice_label }}
						  </label>
						</div>
						{% endfor %}
					{% else %}
		            {{ field|addcss:"form-control"}}					
		            {% endif %}
		            {% if field.errors %}
            			{% for error in field.errors %}
            				<p class="text-danger">{{ error|escape }}</p>
			    		{% endfor %}
					{% endif %}
		            </div>
		        </div>
		    {% endfor %}
		    <div class="form-group">
			<div class="col-lg-offset-3 col-lg-10">
		  		<button type="submit" class="btn btn-default">{% trans 'Submit' %}</button>
		  	</div>
		  	</div>
		</form>
{% else %}

<p> You have to log in/register in order to create team <p>

 <a href=" {% url 'login' contest.url %}">Log in </a> / <a href=" {% url 'registration_register' contest.url %}">Registrer </a>

{% endif %}

<script>$(document).ready( function () {
	document.getElementById("id_onsite_1").checked = true;
	});
</script>
{% endblock content %}

