{% extends "base.html" %}

{% block content %}


{% if messages %}
		{% for message in messages %}
			<div class = "alert {{ message.error }} alert-dismissable">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong> {{ message.text }} </strong> 
			</div>	
		{% endfor %}	
{% endif %}


<br>
Register with a team name. You can add up to two friends.  
Note that by registering for this site, you also sign up for the contest.
<br>
<br>

{%if user.is_authenticated %}

If you are going to participate online (not being present at NTNU), 
please specify what city you are participating from in in the offiste field

<br>
<br>
<form action="" method="post">{% csrf_token %}
{{ form.as_p}}
<input type="submit" value="Submit" />
</form>
{% else %}

<p> You have to log in/register in order to create team <p>

 <a href=" {% url 'auth_login' contest.url %}">Log in </a> / <a href=" {% url 'registration_register' contest.url %}">Registrer </a>

{% endif %}

{% endblock content %}

