div.nav-side {
	background-color:grey;
	height:100%
}
.logo {
	color: #F2F0EB;
}
h1.logo {
    border:0;
    width : 300px;
    height : 60px;
    margin : 10px;
    padding : 0;
}
h1.logo a {
    display : block;
    height : 60px;
    text-indent : -9999px;
}
.center{
    display : table-cell;
    vertical-align : middle;
    float:none;
}
.alert-error {
  background-color: #f04124;
  border-color: #ea2f10;
  color: #ffffff;
}
.alert-error hr {
  border-top-color: #d32a0e;
}
.alert-error .alert-link {
  color: #e6e6e6;
}
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
.credit {
	color: #F2F0EB;
}
#footer {
  background-color: #193C59;
  margin-top: 20px;
}

#logo {
	background-color: #193C59;
	margin-bottom: 10px;
}

#footer * .left_footer
{ 
    float:left; 
    padding: 10px 10px 10px 10px;
}

#footer * .right_footer
{ 
    float:right;
    padding: 10px 10px 10px 10px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
