{% extends "admin/app_index.html" %}

{% load i18n %}


{% block content %}
<h2> Choose contest </h2>
<select name="selectContest" onchange="switchContest()">
    {% for con in contests %}
         {% if con.pk == contest.pk %}
            <option selected value = "con{{con.pk}}">{{con.title}}</option>
         {% else %}
            <option value = "con{{con.pk}}">{{con.title}}</option>
            {%endif %}
         {% endfor %}
        </select>

<br />
<br />

<button type="submit"> AAa </button>

<script type="text/javascript">
        function post_to_url(path, params) {
                var form = document.createElement("form");
                form.setAttribute("method", "POST");
                form.setAttribute("action", path);

                var csrf_field = document.createElement("input");
                csrf_field.setAttribute("type", "hidden");
                csrf_field.setAttribute("name", "csrfmiddlewaretoken");
                csrf_field.setAttribute("value", "{{ csrf_token }}");
                form.appendChild(csrf_field);

                for ( var key in params) {
                        if (params.hasOwnProperty(key)) {
                                var hiddenField = document.createElement("input");
                                hiddenField.setAttribute("type", "hidden");
                                hiddenField.setAttribute("name", key);
                                hiddenField.setAttribute("value", params[key]);

                                form.appendChild(hiddenField);
                        }
                }
                document.body.appendChild(form);
                form.submit();
        }
</script>




{% endblock content %}
