{% extends "admin/change_list.html" %}

{% load i18n admin_urls %}
{% block object-tools-items %}
</ul>
</header>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script>
    function switchContest()
    {
        window.document.location = $('select[name="selectContest"] option:selected').val();
  }
</script>

<h2> Choose contest </h2>
<select name="selectContest" onchange="switchContest()">
    {% for con in contests %}
        {% if con.pk == contest.pk %}
            <option selected value = "con{{con.pk}}">{{con.title}}</option>
        {% else %}
            <option value = "con{{con.pk}}">{{con.title}}</option>
        {%endif %}
    {% endfor %}
</select>

<br />
<br />

<h2>Subsitution pattern: anywhere in your tex-code, 3 forward slashes followed by VARIABLE, e.g.  ///CONTESTANT1 </h2>
<h4>All variables below are optional</h4>
<ul>
    <li>TEAM - name of selected team</li>
    <li>CONTESTANT&lt;number&gt; nth member of a team, indexed 1 to 3</li>
    <li>SPONSORALL - image and title of sponsors (can only be used with \documentclass{article}</li>
    <li>SPONSOR&lt;number&gt;_IMAGE_FILENAME - absolute filename to nth sponsor logo - not rendered</li>
    <li>CONTEST_LOGO - absolute filename to contest logo - not rendered</li>
</ul>

<br />
<br />
<h3></h3>
<textarea id="id_latex" rows="14" cols="450">
\documentclass[a4paper]{article}
\usepackage{graphicx}
\usepackage{wallpaper}
\usepackage[absolute]{textpos}

\begin{document}
\thispagestyle{empty}

% \ThisLRCornerWallPaper{1.0}{}

\begin{center}
\vspace*{-4cm}
\includegraphics[scale=0.3]{///CONTEST_LOGO}
\end{center}

\begin{center}
\vspace{1cm}
{\Huge 1. plass} \\*
\vspace*{1.5cm}
{\Huge \bf ///TEAM} \\*
\vspace*{0.5cm}
{\LARGE ///CONTESTANT1}\\*
\vspace*{0.2cm}
{\LARGE ///CONTESTANT2}\\*
%\vspace*{0.2cm}
%{\LARGE ///CONTESTANT3}\\*


\end{center}


\begin{textblock}{3}(3.2, 12)
\hspace{0.5cm} \makebox[1.5in]{\hrulefill}
\hspace*{1.2cm} Halvor Strand \\
\hspace*{1cm} Contest Director
\end{textblock}

\begin{textblock}{3}(8.5, 12)
\hspace{0.5cm} \makebox[1.5in]{\hrulefill}
\hspace*{1.3cm} Eirik Reksten\\
\hspace*{1.4cm} Head Judge
\end{textblock}

///SPONSORALL

\end{document}
</textarea>


{% if semicolon_list %}    
<textarea rows="10">
{{semicolon_list}}
    </textarea>
{% endif %}


<script type="text/javascript">
        function post_to_url(path, params, buttonID) {
                var form = document.createElement("form");
                form.setAttribute("action", path);
                form.setAttribute("method", "POST");
                
                var csrf_field = document.createElement("input");
                csrf_field.setAttribute("type", "hidden");
                csrf_field.setAttribute("name", "csrfmiddlewaretoken");
                csrf_field.setAttribute("value", "{{ csrf_token }}");
                form.appendChild(csrf_field);

                var button_id = document.createElement("input");
                button_id.setAttribute("type", "hidden");
                button_id.setAttribute("name", "buttonId");
                button_id.setAttribute("value", buttonID);
                form.appendChild(button_id);



                checkboxes = document.getElementsByName("_selected_action");

                var teams = [];
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                for(var iPos = 0; iPos < checkboxes.length; iPos++)
                {


                    if (checkboxes[iPos].checked == true)
                    {
                        teams.push(checkboxes[iPos].value);
                    }

                }
                hiddenField.setAttribute("name", "teams");
                hiddenField.setAttribute("value", teams);
                form.appendChild(hiddenField)

                for ( var key in params) {
                        if (params.hasOwnProperty(key)) {
                                var hiddenField = document.createElement("input");
                                hiddenField.setAttribute("type", "hidden");
                                hiddenField.setAttribute("name", key);
                                hiddenField.setAttribute("value", params[key]);

                                form.appendChild(hiddenField);
                        }
                }
                document.body.appendChild(form);
                form.submit();
        }
</script>

<style>
button.buttonGroup  {
    width : auto;
    margin : 4px;
    padding : 4px 15px;
    color : #1A1717;
    }
</style>

<button type="submit" class="buttonGroup" onclick="post_to_url('', {'text':document.getElementById('id_latex').value}, 'teamCSV_onePDF')">Create latex for teams (one pdf)</button>


<button type="submit" class="buttonGroup" onclick="post_to_url('', {'text':document.getElementById('id_latex').value}, 'teamCSV_manyPDF')">Create latex for teams (several pdf)</button>

<button type="submit" class="buttonGroup" onclick="post_to_url('', {}, 'emailCSV')">Create list of emails</button>

<button type="submit" class="buttonGroup" onclick="post_to_url('', {}, 'teamnames')">Get list of teamnames</button>


<br />
<br />

{% if latex_compile_stdout %}
<textarea rows=1000>
{{latex_compile_stdout}}
</textarea>
{% endif %}


{% if teamname_list %}
<textarea rows=1000>
{% for name in teamname_list %}
{{ name }}{% endfor %}
</textarea>
{% endif %}

{% endblock %}
