*	{	border:none;	}
pre
{
	white-space:pre-wrap;
	word-wrap: break-word;
}

#header pre		{	font-size: 50px;	}
#main *			{	float:left;			}
#left_bar		{	float:left;			}
#right_bar		{	float:right;		}
#menu input:first-child	{ border-top-right-radius: 5px; }
#menu input		{	border:none;		}
.sidebar		{	border-radius: 5px;	}
#login_button	
{	
	font-size: 20px;
	border:none;
	border-top-left-radius: 5px;		
}

#login_button:hover	{	font-size: 22px;	}
.newsitem:first-child	
{	
	border-top-left-radius: 10px;	
	border-top-right-radius: 10px;	
}

.newsitem div:first-child
{
	border-top-left-radius: 10px;	
	border-top-right-radius: 10px;	
	border-bottom: 1px solid black;
}

.newsitem div:first-child pre
{
	font-size: 20px;
}

.newsitem div pre
{
	font-size: 15px;
}
