{% extends 'base.html' %}
{% block content %}

	<h3>{{ user.first_name }}
	{{ user.last_name }}</h3>
	<p>
	<br>
	Email:<em> {{ user.email }}</em>
	<br>
	Date joined:<em> {{ user.date_joined|date:"d.m.Y - H:i"}}</em>
	</p>
	<br>
	<hr>
	<h1>List over invites: </h1>
	{% if invites %}
		{% if have_team %}
			<p> You already have a team </p>
		{% endif %}
			{% for invite in invites.all %}
				<p>{{ invite }}</p>
				<form action="." method="post"> {% csrf_token %}
				<input type="hidden" value="{{ invite.id }}" name="id">
				{% if have_team %}
					<button type="submit" name="submit" value="accept" disabled="disabled" class="btn btn-default btn-sm">Accept</button>
				{% elif invite.team.members.count >= 3 %}
				<p>This team has reached the maximum number of members</p>
				<button type="submit" name="submit" disabled="disabled" value="accept" class="btn btn-default btn-sm">Accept</button>
				{% else %}
				<button type="submit" name="submit" value="accept" class="btn btn-default btn-sm">Accept</button>
				{% endif %}
				<button type="submit" name="submit" value="decline" class="btn btn-default btn-sm">Decline</button>
				</form>
			{% endfor %}
	{% else %}
		<p> You have no invites :( <p>
	{% endif %}
{% endblock content %}