{% extends "base.html" %}
{% load link_tags %}
{% load i18n %}
{% block content %}

<h2>Registered teams</h2>
<hr>
{% if contest %}
	<p>There are currently {{ number_of_teams }} teams registered for {{contest.title}}
	<hr>
	{% for team in team_list %} 
			<ul class="list-inline">
    		<li><p>{{ team.name }} </p></li>
    		{% if team.onsite %}
    		<li><small><p class="text-muted"> onsite </p></small> </li>
    		{% else %}
    		<li><small><p class="text-muted"> {{ team.offsite }} </p></small> </li>
    		{% endif %}
    		<li><small><p class="text-muted">
    		(
    		{{ team.leader.skill_level }}
    		{% for member in team.members.all%}    	
	    		{% if member = team.leader %}
	    			{% comment %}
	    				We want the team leaders skill to show first. 
	    			{% endcomment %}
	    		{% else %} 
	    			, {{ member.skill_level }}
	    		{% endif %}
	    	{% endfor %} 
    		)
    		</p>
    		</small>
    		</li>    		
    		<small><p class="text-muted">
                {% if team.members.all|length > 1 %}
                    {{ team.leader.get_name_nick }},
                {% else %}
                    {{ team.leader.get_name_nick }}
                {% endif %}

            {% for member in team.members.all%}      
                {% if member = team.leader %}
                {% else %}
                    {% if not forloop.last %}
                        {{ member.get_name_nick }},
                    {% else %}
                        {{ member.get_name_nick }}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>        
    </small>

       		</ul>	    	
	    	</p>
	    	<br>
	{% endfor %}
{% else %}
	<p>Something weird has happened... Are you sure there is a contest!? :S <p>
{% endif %}
{% endblock %}
