#header				{	background-color: #7AA095;	}
#header pre			{	color:	white;	}
#menu input			{	background-color: #96B299;	}
#menu input:hover	{	background-color: #7AA095;	}
#login_button		
{	
	color:white;
	background-color: #96B299;	
}

.newsitem div:first-child
{
}
#header
{
	width: 	100%;
	height: 100px;
}


#menu input	
{
	width: 100%;
	height:40px;
}


#login_button
{
	width: 	100%;
	height: 80px;
}

#left_bar	{	width: 	200px;	}
#right_bar	{	width:	200px;	}
.sidebar	{	min-height: 700px;	}
#newsfeed	
{	
	min-width:40%;
	max-width:70%;	
}
.advert		{	width: 	100%;	}
.newsitem
{
	min-height: 300px;
	width: 100%;
}

.newsitem div:first-child
{
	height: 60px;
	width:100%;
}
#left_bar		{	box-shadow: 3px 3px 5px #96B299;	}
#right_bar		{	box-shadow: -3px 3px 5px #96B299;	}

#menu input		{	transition: background-color 0.5s;	}
#menu			{	box-shadow: 0px 3px 5px #96B299;	}
#login_button	{	transition: font-size 0.5s;	}
.newsitem		{	box-shadow: 1px 1px 3px #96B299;	}
*	{	border:none;	}
pre
{
	white-space:pre-wrap;
	word-wrap: break-word;
}

#header pre		{	font-size: 50px;	}
#main *			{	float:left;			}
#left_bar		{	float:left;			}
#right_bar		{	float:right;		}
#menu input:first-child	{ border-top-right-radius: 5px; }
#menu input		{	border:none;		}
.sidebar		{	border-radius: 5px;	}
#login_button	
{	
	font-size: 20px;
	border:none;
	border-top-left-radius: 5px;		
}
.newsitem:first-child	
{	
	border-top-left-radius: 10px;	
	border-top-right-radius: 10px;	
}

.newsitem div:first-child
{
	border-top-left-radius: 10px;	
	border-top-right-radius: 10px;	
	border-bottom: 1px solid black;
}

.newsitem div:first-child pre
{
	font-size: 20px;
}

.newsitem div pre
{
	font-size: 15px;
}
*
{
	margin: 	0px 0px 0px 0px;
	padding: 	0px 0px 0px 0px;
}

#header		{	margin-bottom: 20px;	}
#header pre	{	padding: 20px 20px 20px 20px;	}
#menu		{	margin-bottom: 10px;	}
#newsfeed	{ 	margin: 0px 10px 0px 10px;	}
.newsitem	{	margin: 5px 5px 5px 5px;	}

.newsitem * pre	{ padding: 20px 20px 20px 20px; }
