{% extends "base.html" %}

{% block title %}News{% endblock %}

{% block content %}
<h2> All articles </h2>
<hr>
{% if article_list %}
	<div class="list-group">
	{% for article in article_list %}
  		<a href="{% url 'article_detail' contest.url article.id %}" class="list-group-item">
    		<h1 class="list-group-item-heading"> {{ article.title }}</h1>
	    	<div class="list-group-item-text">
	    	<p class="text-muted">
	    	Published: {{article.created_at|date:"d.m.Y - H.i"}}, 
			Author: {{article.author.get_name_nick }}
			</p>    		
	    	{{ article.text|truncatewords_html:50|safe}}
	    	<p> (....) </p>
	    	</div>
	  	</a>
	{% endfor %}
	</div>
{% else %}
	<p>No articles</p>
{% endif %}
{% endblock content %}
