{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% load link_tags %}
{% load i18n %}
{% contest as contest %}
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ contest.title }} - {% block title %}My amasing site{% endblock %}</title>

<!-- Bootstrap -->
<link href="{% static 'openshift/css/bootstrap.css' %}" rel="stylesheet">
{% if contest.css %}
	<link href="/media/{{ contest.css.path}}" rel="stylesheet">
{% else %}
	<link href="{% static  "openshift/css/style.css" %}" rel="stylesheet">
{% endif %}
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script	src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<div id="wrap">
	<div id="logo">
		<div class="container">
			<div class="row">
				<div class="col-lg-7" onClick="javascript:location.href='/{{ contest.url }}'">
					{% if contest %}
						<h1>{{ contest.title }}</h1>
					{% endif %}
				</div>
				<div class="col-lg-5">
				{% if user.is_authenticated %}
					<form class="form-inline" role="form" method="post" action="{% url 'auth_login' contest.url %}">
						{% csrf_token %}
					  	<div class="form-group">
					    	<label class="sr-only" for="id_username">Email address</label>
					    	<input type="text" class="form-control" id="id_username" name="username" placeholder="Enter email">
					  	</div>
					  	<div class="form-group">
					    	<label class="sr-only" for="id_username">Password</label>
					    	<input type="password" class="form-control" id="id_password" name="password" placeholder="Password">
					  	</div>
					  	<div class="form-group">
					  	<button type="submit" class="btn btn-default">Sign in</button>
					  	<input type="hidden" name="next" value="{{ next }}" />
					  	</div>
					</form>
				{% else %}
					<p>Logged in</p>
				{% endif %}		
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-2">
					{% if contest %}
						<ul class="list-group">
						{% for link in contest.links.all %}
							<li class="list-group-item"><a href="{% if link.contestUrl %}/{{ contest.url }}{% endif %}{{ link.url }}">{{ link.text }}</a></li>
						{% endfor %}
						</ul>
					{% endif %}
			</div>
			<div class="col-lg-8">
				{% block content %}{% endblock content %}
			</div>
			<div class="col-lg-2">
				<div class="panel panel-default">
					<div class="panel-body">
				    	Basic panel example
				  	</div>
				</div>
				
			</div>
		</div>
	</div>
	
		<div id="push"></div>
    </div>
	<div id="footer">
      <div class="container">
        <p class="muted credit">IDI Open &copy; 2014
        </p>
      </div>
    </div>


</body>
</html>
