#left_bar		{	box-shadow: 3px 3px 5px #BAC4D4;	}
#right_bar		{	box-shadow: -3px 3px 5px #BAC4D4;	}

#menu input		{	transition: background-color 1s;	}
#menu			{	box-shadow: 0px 3px 5px #BAC4D4;	}
#login_button	{	transition: font-size 0.5s;	}


