*
{
	margin: 	0px 0px 0px 0px;
	padding: 	0px 0px 0px 0px;
}

#header		{	margin-bottom: 20px;	}
#header pre	{	padding: 20px 20px 20px 20px;	}
#menu		{	margin-bottom: 10px;	}
#newsfeed	{ 	margin: 0px 10px 0px 10px;	}
