{% extends "admin/app_index.html" %} 
{% load i18n %}
{% load tz %}
<h3>{% blocktrans with filter_title=title %} By {{ filter_title }}
	{% endblocktrans %}</h3>z 


{% block content %}

 <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<!-- Tablesorter css -->
<link href="/static/openshift/css/tablesorter/tablestyle.css"
        rel="stylesheet">
<!--  Tablesorter and tooltip js -->
<script type="text/javascript"
        src="/static/openshift/js/tablesorter/jquery.tablesorter.js"></script>
<script type="text/javascript" src="/static/openshift/js/tooltip.js"></script>

<style>
        #TableCorrectSubmissions, #TableGivenBalloon { list-style-type: none; margin: 0; padding: 0 0 2.5em; float: left; margin-right: 10px; }
        #TableCorrectSubmissions table, #TableGivenBalloon table { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 120px; }
</style>
 

 <script>
 function onRemove(event, ui)
 {
	 post_to_url("", {'pk': ui.item.data('value')});
 }
  $(function() {
    $( "#TableCorrectSubmissions, #TableGivenBalloon" ).sortable({
      connectWith: ".connectedSortable",
      items: "tr:not(.not_draggable)",
      remove: onRemove,
     }).disableSelection();
  });
 </script>

<script type="text/javascript">
        function post_to_url(path, params) {

                // The rest of this code assumes you are not using a library.
                // It can be made less wordy if you use one.
                var form = document.createElement("form");
                form.setAttribute("method", "POST");
                form.setAttribute("action", path);

                var csrf_field = document.createElement("input");
                csrf_field.setAttribute("type", "hidden");
                csrf_field.setAttribute("name", "csrfmiddlewaretoken");
                csrf_field.setAttribute("value", "{{ csrf_token }}");
                form.appendChild(csrf_field);

                for ( var key in params) {
                        if (params.hasOwnProperty(key)) {
                                var hiddenField = document.createElement("input");
                                hiddenField.setAttribute("type", "hidden");
                                hiddenField.setAttribute("name", key);
                                hiddenField.setAttribute("value", params[key]);

                                form.appendChild(hiddenField);
                        }
                }

                document.body.appendChild(form);
                form.submit();
        }
</script>


<h1>Balloon tables</h1>

<small>Drag-and-Drop between the two tables</small>
<br>
        <br /> <br />
        
        <h3>Not given balloon</h3>
        <small> Teams that are awaiting balloon for a correct submission</small>
        <hr />
        <table id="TableCorrectSubmissions"
                class="table table-bordered table-hover table-condensed tableSorter connectedSortable">
                <thead>
                        <tr class="not_draggable">
                                <th data-toggle="tooltip" data-placement="top"
                                        title="The team this regards">Team</th>
                                <th data-toggle="tooltip" data-placement="top" title="">Problem</th>
                                <th data-toggle="tooltip" data-placement="top"
                                        title="What problem this is about">Submission</th>
                                <th data-toggle="tooltip" data-placement="top" title="">Time uploaded (hours:minutes)</th>
                        </tr>
                </thead>
               	 <tbody>
                        {% for listitem in not_given_balloon %}
                        <tr data-value="{{listitem.submission.pk}}">
                                <td>{{listitem.submission.team}}</td>
                                <td>{{listitem.submission.problem}}</td>
                                <td>{{listitem.submission.submission}}</td>
                                <td>{{listitem.timestamp | date:"H:i" }}</td>
                        </tr>
                        {% endfor %}
                </tbody>
        </table>
		<br>
		<br>
		<br>
        <h3>Given Balloon</h3>
        <small> Teams that have received a balloon for a correct submission</small>
        <hr />
        <table id="TableGivenBalloon"
                class="table table-bordered table-hover table-condensed tableSorter connectedSortable">
                <thead>
                        <tr class="not_draggable">
                                <th data-toggle="tooltip" data-placement="top"
                                        title="The team this regards">Team</th>
                                <th data-toggle="tooltip" data-placement="top" title="What problem this is about">Problem</th>
                                <th data-toggle="tooltip" data-placement="top"
                                        title="Which submissions that was correct">Submission</th>
                        		<th data-toggle="tooltip" data-placement="top"
                                        title="The time a balloon was given">Timestamp (hours:minutes)</th>
    
                        </tr>
                </thead>
                <tbody>
                        {% for listitem in given_balloon %}
                        <tr data-value="{{listitem.submission.pk}}">
                                <td>{{listitem.submission.team}}</td>
                                <td>{{listitem.submission.problem}}</td>
                                <td>{{listitem.submission.submission}}</td>
                                <td>{{listitem.timestamp | date:"H:i"}}</td>
                        </tr>
                        {% endfor %}
                </tbody>
        </table> 

{% endblock content %}