{% extends 'base.html' %}
{% load link_tags %}
{% load fileprint %}
{% block content %}

<div class = "pull-right" >
<a href="{% url 'submission_page' contest.url %}" class="btn btn-primary btn-large">Go To Contest Page</a>
</div>

<h2>Clarifications</h2>
<hr>

<p> Below you will find clarifications sent from our team of judges </p>
<p> Wondering something? Feel free to <a href= {% url 'clarificationPage' contest.url %}> ask a question </a> <small><i>(only for registered teams after contest start)</i></small>  </p>

{% if answers %}
{% for answer in answers %}
		<h3>{{ answer.subject }}</h3>
		<p class="text-muted">
		<small>
			Published: {{answer.answered_at|date:"d.m.Y - H.i"}}, 
			Author: {{ answer.answered_by.get_full_name }}
		</small>
		</p>	
		<div>{{ answer.body|safe}}</div>
<br>
{% endfor %}
{% else %}
	<br>
	<p>No messages found </p>
{% endif %}


{% endblock content %}
