{% extends 'base.html' %}
{% load link_tags %}
{% contest as contest %}
{% block content %}
<script>
$(document).ready(function() 
    { 
    	$.tablesorter.formatInt = function (s) {
            var i = parseInt(s);
            return (isNaN(i)) ? null : i;
        };
        $.tablesorter.formatFloat = function (s) {
            var i = parseFloat(s);
            return (isNaN(i)) ? null : i;
        };
        $.tablesorter.addParser({ 
            // set a unique id 
            id: 'offsite', 
            is: function(s) { 
              // return false so this parser is not auto detected 
              return false; 
            }, 
            format: function(s, table, cell, cellIndex) { 
              // get data attributes from $(cell).attr('data-something');
              // check specific column using cellIndex
              return $(cell).attr('data-offsite');
            }, 
            // set type, either numeric or text 
            type: 'text' 
        });
        $("#highscoreTable").tablesorter({
        	sortList: [[0,0]],
        	headers : {2 : { sorter: 'offsite' }}
        }); 
        $(".clickableRow").click(function() {
        	window.document.location = $(this).attr("href");
      	});
    } 
); 
</script>
<h2>Highscore table</h2>
<hr>
<small>
The numbers in the problem rows represent number of tries and time until solved, respectively.
<br />
Sort multiple columns simultaneously by holding down the shift key 
and clicking a second, third or even fourth column header. 
</small>
<hr>
<div>
{% url 'highscorePage' contest.url as all %}
{% url 'highscorePageRes' contest.url 'onsite' as onsite %}
{% url 'highscorePageRes' contest.url 'offsite' as offsite %}
{% url 'highscorePageRes' contest.url 'student' as student %}
{% url 'highscorePageRes' contest.url 'pro' as pro %}

Show highscores: 
{% if sort_res != "all" %}
<a href="{% url 'highscorePage' contest.url %}"> all </a>
{% else %}
{{ sort_res }}
{% endif %}
</br>
Show for location: 
{% for loc in locations %}
{% if not forloop.first %}
|
{% endif %}
{% if loc != sort_res %}
<a href="{% url 'highscorePageRes' contest.url loc %}"> {{ loc }} </a>
{% else %}
{{ loc }}
{% endif %}
{% endfor %}
</br>
Show for team type:
{% for team in team_types %}
{% if not forloop.first %}
|
{% endif %}
{% if team != sort_res %}
<a href="{% url 'highscorePageRes' contest.url team %}"> {{ team }} </a>
{% else %}
{{ team }}
{% endif %}
{% endfor %}
</div>

{% if freeze %}
<table id="highscoreTable" class="table table-bordered table-hover table-condensed table-striped tablesorter">
	<thead>
            <tr>
            <th data-toggle="tooltip" data-placement="top" title="Positions"></th>
            <th data-toggle="tooltip" data-placement="top" title="Teams">Team</th>
            <th data-toggle="tooltip" data-placement="top" title="Offsite">Offsite</th>
            <th data-toggle="tooltip" data-placement="top" title="Solved">Solved</th>
            <th data-toggle="tooltip" data-placement="top" title="Total Score">Total Score</th>
            <th data-toggle="tooltip" data-placement="top" title="Time">Time</th>
            {% for p in problems %}
            	<th class="problem" data-toggle="tooltip" data-placement="top" title="{{ p.title }}"> {{ forloop.counter }}</th>
            {% endfor %}
            </tr>
    </thead>
    <tbody>
            {% for entry in highscore|dictsort:"total_score"|dictsortreversed:"total_solved" %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{entry.team}}</td>
                <td data-offsite='{{entry.team.onsite}}'>{{entry.site|truncatechars:12}}</td>
                <td>{{entry.total_solved}}</td>
                <td>{{entry.total_score}}</td>
                <td>{{entry.total_time }}</td>
                {% for x in entry.problemList %}
                {% if x.solved %}
                <td style="background: #90EE90">{{x.tries|add:"1"}}/{{x.attempts}}</td>
                {% elif x.tries %}
                <td style="background: #FFC0CB">{{x.tries}}/{{x.attempts}}</td>
                {% else %}
                <td>{{x.tries}}/{{x.attempts}}</td>
                {% endif %}
                {% endfor %}
            </tr>
			{% endfor %}
    </tbody>
</table>
{% else %}
<br>
<p> There is less than 1 hour left in the competition. You can view the Highscore after that.</p>
<p> <strong> Good Luck! </strong><p>
{% endif %}
{% block highscore %}
{% endblock %}
{% endblock content %}

