{% extends 'base.html' %}
{% load link_tags %}
{% contest as contest %}
{% block content %}
<script>
$(document).ready(function() 
    { 
    	$.tablesorter.formatInt = function (s) {
            var i = parseInt(s);
            return (isNaN(i)) ? null : i;
        };
        $.tablesorter.formatFloat = function (s) {
            var i = parseFloat(s);
            return (isNaN(i)) ? null : i;
        };
        $("#highscoreTable").tablesorter( {sortList: [[0,0]]} ); 
        $(".clickableRow").click(function() {
        	window.document.location = $(this).attr("href");
      	});
    } 
); 
</script>
<h2>Highscore table</h2>
<hr>
<div>
{% url 'highscorePage' contest.url as all %}
{% url 'highscorePageRes' contest.url 'onsite' as onsite %}
{% url 'highscorePageRes' contest.url 'offsite' as offsite %}
{% url 'highscorePageRes' contest.url 'student' as student %}
{% url 'highscorePageRes' contest.url 'pro' as pro %}

Show for location:
<a href="{{ all }}"> All </a>
|<a href="{{ onsite }}"> Onsite </a>
| <a href="{{ offsite }}"> Offsite </a>
</br>
Show for team type:
<a href="{{ all }}"> All </a>
 |<a href="{{ student }}"> Student </a>
 |<a href="{{ pro }}"> Pro </a>
</div>

{% if freeze %}
<table id="highscoreTable" class="table table-bordered table-hover table-condensed table-striped tablesorter">
	<thead>
            <tr>
            <th data-toggle="tooltip" data-placement="top" title="Positions"></th>
            <th data-toggle="tooltip" data-placement="top" title="Teams">Team</th>
            <th data-toggle="tooltip" data-placement="top" title="Offsite">Offsite</th>
            <th data-toggle="tooltip" data-placement="top" title="Solved">Solved</th>
            <th data-toggle="tooltip" data-placement="top" title="Total Score">Total Score</th>
            <th data-toggle="tooltip" data-placement="top" title="Time">Time</th>
            {% for p in problems %}
            	<th class="problem" data-toggle="tooltip" data-placement="top" title="{{ p.title }}"> {{ forloop.counter }}</th>
            {% endfor %}
            </tr>
    </thead>
    <tbody>
            {% for stat in statistics %}
	            <tr>
	            {% for s in stat %}
	            	{% if forloop.counter0 != 6 and forloop.counter0 != 7 %}
	            		{% if s|first != "0" and s|last == "-"%}
		        			<td class="problem-rejected">
	            		{% elif "/" in s and s|first != "0" and s|last != "-"%}
		        			<td class="problem-accepted">
		        		{% else %}
		        			<td>
		        		{% endif %}
		        		{{ s }}</td>
		        	{% endif %}
				{% endfor %}
	        	</tr>
			{% endfor %}
    </tbody>
</table>
{% else %}
<br>
<p> There is less than 1 hour left in the competition. You can view the Highscore after that.</p>
<p> <strong> Good Luck! </strong><p>
{% endif %}
{% block highscore %}
{% endblock %}
{% endblock content %}
