{% extends 'base.html' %}
{% load link_tags %}
{% contest as contest %}
{% block content %}
<script>
$(document).ready(function() 
    { 
    	$.tablesorter.formatInt = function (s) {
            var i = parseInt(s);
            return (isNaN(i)) ? null : i;
        };
        $.tablesorter.formatFloat = function (s) {
            var i = parseFloat(s);
            return (isNaN(i)) ? null : i;
        };
        $("#highscoreTable").tablesorter( {sortList: [[0,0]]} ); 
        $(".clickableRow").click(function() {
        	window.document.location = $(this).attr("href");
      	});
    } 
); 
</script>

<table id="highscoreTable" class="table table-bordered table-hover table-condensed tablesorter">
	<thead>
            <tr>
            <th data-toggle="tooltip" data-placement="top" title="Positions">Position</th>
            <th data-toggle="tooltip" data-placement="top" title="Teams">Team</th>
            <th data-toggle="tooltip" data-placement="top" title="Solved">Solved</th>
            <th data-toggle="tooltip" data-placement="top" title="Scores">Total Score</th>
            <th data-toggle="tooltip" data-placement="top" title="Time">Time</th>
            <th data-toggle="tooltip" data-placement="top" title="Onsite">Onsite</th>
            <th data-toggle="tooltip" data-placement="top" title="Year">Year</th>
            <th data-toggle="tooltip" data-placement="top" title="Gender">Gender</th>
            {% for p in problems %}
            	<th data-toggle="tooltip" data-placement="top" title="Problems">Problem {{ forloop.counter }}</th>
            {% endfor %}
            </tr>
    </thead>
    <tbody>
            {% for stat in statistics %}
            <tr>
            {% for s in stat %}
            <td>{{s}}</td>
            {% endfor %}
            </tr>
			{% endfor %}
    </tbody>
</table>

{% endblock content %}
