{% extends 'base.html' %}
{% load link_tags %}
{% load fileprint %}
{% block content %}
<div class = "pull-right" >
<a href="{% url 'submission_page' contest.url %}" class="btn btn-primary btn-large">Go To Contest Page</a>
</div>

<h2>{{problem.title}}</h2>
<hr>
{% if not submission.solved_problem %}
{% if submission.status != submission.EVALUATED %}
<script type="text/javascript">


function doPoll(){
	Dajaxice.openshift.teamsubmission.submission(Dajax.process, {'submission_id': {{ submission.pk }}});
    setTimeout(doPoll,5000);
}

$( document ).ready(function() {
	doPoll();
});

</script>
<div>
<h3>
<ul class="fa-ul">
	<li><i class="fa-li fa fa-spinner fa-spin"></i><span id='response'></span></li>
</ul>
</h3>
</div>
{% endif %}
{% if tries > 0 %}
<p> Attempts: <strong> {{ tries }} </strong> </p>
<h3> Upload a new file to this problem </h3>
{% else %}
<h3> Upload a file for this problem </h3> 
{% endif %}

<form id="fileUpload" method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
<div class = 'well'>

<strong><p>1. Pick a compiler profile</p></strong>

{{ submission_form.compileProfile }}

<br>
<br>	
<strong><p>2. Pick the file you want to upload </p></strong>
{{ submission_form.submission }}
 {% for field in submission_form %}
  	{% for error in field.errors %}
  	<span class="bg-warning"> {{error}} </span>
             <br>
             <br>
    {% endfor %}
 {% endfor %}
 <br>
 <strong><p>3. Submit the file </p></strong>
    <button type="submit" class = "btn btn-primary btn-sm">Submit file</button> 
    <br>
    <em><small>Please note that by submitting a file it will count as an attempt</small></em>
</div>
</form>
    <h3> Feedback on submission </h3>
{% else %}
	<h3><strong>Problem solved!</strong></h3>
{% endif %}

 <div class = 'well' >

{% if submission.solved_problem %}

	<p> Feedback: <strong> <span class="bg-success"> {{submission.text_feedback}}</span></strong></p>
	<p> Score for problem: <strong> {{ score }} </strong> </p>
	<p> Attempts: <strong> {{ tries }} </strong> </p>
{% elif submission.text_feedback %}
	<p>{{submission.text_feedback}}</p>
{% else %}
	<p> No feedback </p>
{% endif %}
</div>
<h3>Problem Description </h3>
<hr> 
{% if problem.author %}
<i><small>Author: {{ problem.author.get_full_name }} .</i></small>
{% endif %}

<br>
{% if problem %}
     {{ problem.description|linebreaksbr }}
{% endif %}
<br>

{% endblock content %}
