{% extends 'base.html' %}
{% load link_tags %}
{% load fileprint %}
{% block content %}
<div class = "pull-right" >
<a href="{% url 'submission_page' contest.url %}" class="btn btn-primary btn-large">Go To Contest Page</a>
</div>

<h2>{{problem.title}}</h2>

<hr>


{% if not sumbissions.solved_problem and tries > 0 %}
<p> You have made  <strong> {{ tries }} </strong> attempts at solving this problem </p>
{% endif %}

{% if tries > 0 %}
<h3> Upload a new file to this problem </h3>
{% else %}
<h3> Upload a file for this problem </h3> 
{% endif %}

<form id="fileUpload" method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
<div class = 'well'>
  {% for field in submission_form %}
    {{ field }} 
  	{% for error in field.errors %}
            {{error}} <br>
    {% endfor %}
    <br>
    {% endfor %}
    Please pick a compiler profile
    <br>
    <br>
    <button type="submit" class = "btn btn-primary btn-sm">Submit file</button> 
    <br>
    <i> <small>Please note that by submitting a file it will count as an attempt</small></i>
</div>
    <h3> Feedback on submission </h3>
 <div class = 'well' >
{% if submission.solved_problem %}
	<strong><p>Problem solved! </strong></p>
	<p> Feedback: <strong> <span class="bg-success"> {{submission.text_feedback}}</span></strong></p>
	<p> Score for problem: <strong> {{ score }} </strong> </p>
	<p> Solution runtime: <strong> {{ submission.runtime }}</strong> ms </p>
	<p> Attempts: <strong> {{ tries }} </strong> </p>
{% elif submission.text_feedback %}
	<p>{{submission.text_feedback}}</p>
{% else %}
	<p> No feedback </p>
{% endif %}
</div>
</form>
<h3>Problem Description </h3>
<hr> 
{% if problem.author %}
<i><small>Author: {{ problem.author.get_full_name }} .</i></small>
{% endif %}

<br>
{% if problem %}
     {{ problem.description|linebreaksbr }}
{% endif %}
<br>

{% endblock content %}
