{% extends 'base.html' %}
{% load link_tags %}
{% load fileprint %}
{% block content %}

<div class="col-lg-10">

<h2>{{problem.title}}</h2>
<hr>
<form id="fileUpload" method="POST" action="" enctype="multipart/form-data">
  {% csrf_token %}
  {% for field in submission_form %}
  	{% for error in field.errors %}
            <div class="alert alert-danger">{{error}}</div>
    {% endfor %}
    <div class="col-lg-5">
		{{ field|filename}}
    </div>
  {% endfor %}
Feedback: 
{% if submission.validated %}
	<span class="bg-success">{{submission.text_feedback}}</span>
{% else %}
	<span class="bg-danger">{{submission.text_feedback}}</span>
{% endif %}
<br />
<br />
  <span class="glyphicon glyphicon-thumps-up"></span> {{submission.validated}}
  <div class="form-group">
	<div class="col-lg-10">
		<button type="submit" class="btn btn-default">Save</button>
  </div>
	</div>
</form>
<br />
<hr />
<br />
{{problem.description}}
Problem description
lkdsklsdklds
kldskldslkds
kldslksdlkdslk
sdlkklds

</div>

{% endblock content %}