{% extends 'base.html' %}

{% block content %}

{% load staticfiles %} 

<!--   <script type="text/javascript" src="{%jquery-latest.js"></script> --> 
<script type="text/javascript" src="{% static 'openshift/js/tablesorter/jquery.tablesorter.js' %}"></script> 
<script >
$(function() {
$("table#tableProblems").tablesorter({ sortList: [[1,0]] });
});
</script>


<table id="tableProblems" class="table table-bordered table-hover table-condensed tablesorter">
	<thead>
            <tr>
            <th>Problem</th>
            <th>Last Submission</th>
            <th>Date Uploaded</th>
            <th>Feedback</th>
            <th>Done</th>
            </tr>
    </thead>
	{% if problems %}
    <tbody>
			{% for probsub in prob_sub %}
            <tr>
            <td>{{probsub.problem.title}}</td>
            <td>{{probsub.submission.submission}}</td>
            <td>{{probsub.submission.date_uploaded}}</td>
            <td class="bg-danger">aaadwadaw</td>
            <td>{{probsub.submission.validated}}</td>
            
            </tr>
			{% endfor %}
    </tbody>
	{% endif %}
</table>
{% endblock content %}