{% extends "admin/app_index.html" %}

{# {% load link_tags %} #}
{# {% contest as contest %} #}

{% block content %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<!-- Tablesorter css -->
<link href="/static/openshift/css/tablesorter/tablestyle.css" rel="stylesheet">
<!--  Tablesorter and tooltip js -->
<script type="text/javascript" src="/static/openshift/js/tablesorter/jquery.tablesorter.js"></script> 
<script type="text/javascript" src="/static/openshift/js/tooltip.js"></script> 
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

<h1>Overview of Team "{{team.name}}"</h1>

<style>
    .errorRow {
        background: #FFD1D1 !important;
    }

</style>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<style>
    .ui-state-default {
        background: none;
    }
    .ui-state-hover {
        background: #B9B9B9;
    }
</style>

<h3>Submissions</h3>
<table id="tableSubs" class="table table-bordered table-hover table-condensed tablesorter">
	<thead>
            <tr>
            <th data-toggle="tooltip" data-placement="top" title="The team this regards">Date Uploaded</th>
            <th data-toggle="tooltip" data-placement="top" title="">Problem</th>
            <th data-toggle="tooltip" data-placement="top" title="What problem this is about">retval</th>
            </tr>
    </thead>
    <tbody>
            {% for listitem in sub_feed_items %}
            <tr id={{listitem.submissions.pk}} class='clickableRow parent' >
                {% if listitem.retval >= 1 %}
                <td class="errorRow" > {{listitem.date_uploaded}}</td>
                <td class="errorRow">{{listitem.problem}}</td>
                <td class="errorRow">{{listitem.retval}}</td>
                {% else %}
                <td> {{listitem.date_uploaded}}</td>
                <td>{{listitem.problem}}</td>
                <td>{{listitem.retval}}</td>
                {% endif %}
            </tr>
                <tr class="child-{{listitem.submissions.pk}}"> 
                    <td colspan=3> 
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseCommand">
                                    <h4 class="panel-title">
                                            Command to execute
                                    </h4>
                                    </a>
                                </div>
                            </div>
                                
                                <div id="collapseCommand" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                    <pre class="prettyprint linenums">
                                        {{listitem.command}}
                                    </pre>
                                    </div>
                                </div>
                                
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSrc">
                                     <h4 class="panel-title">
                                        Source code
                                    </h4>
                                </a>
                                </div>
                                 <div id="collapseSrc" class="panel-collapse collapse">
                                     <div class="panel-body">
                                        <pre class="prettyprint linenums">
                                         {{listitem.file_content}}
                                        </pre>
                                     </div>
                                 </div>

                                 <div class="panel-heading">
                                 <a data-toggle="collapse" data-parent="#accordion" href="#collapseOutput">
                                    <h4 class="panel-title">
                                        Command output
                                    </h4>
                                    </a>
                                </div>
                                <div id="collapseOutput" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{listitem.stdout}}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            {% endfor %}
    </tbody>
</table>

 <script>
$(function() {
    $('tr.parent')
        .click(function(){
            $(this).siblings('.child-'+this.id).toggle();
            for(var i = 0; i < this.children.length; i++)
            {
                //this.children[i].style.background = "#B1FFFB";
                }
        });
    list = $(document.querySelectorAll('tr[class^="child-"]'))
    for(var i = 0; i < list.length; i++)
    {
        $(list[i]).hide().children('td');
    }

    $('#accordion').accordion({
        collapsible:true,
        heightStyle: "content",
        active:false,

        beforeActivate: function(event, ui) {
             // The accordion believes a panel is being opened
            if (ui.newHeader[0]) {
                var currHeader  = ui.newHeader;
                var currContent = currHeader.next('.ui-accordion-content');
             // The accordion believes a panel is being closed
            } else {
                var currHeader  = ui.oldHeader;
                var currContent = currHeader.next('.ui-accordion-content');
            }
             // Since we've changed the default behavior, this detects the actual status
            var isPanelSelected = currHeader.attr('aria-selected') == 'true';

             // Toggle the panel's header
            currHeader.toggleClass('ui-corner-all',isPanelSelected).toggleClass('accordion-header-active ui-state-active ui-corner-top',!isPanelSelected).attr('aria-selected',((!isPanelSelected).toString()));

            // Toggle the panel's icon
            currHeader.children('.ui-icon').toggleClass('ui-icon-triangle-1-e',isPanelSelected).toggleClass('ui-icon-triangle-1-s',!isPanelSelected);

             // Toggle the panel's content
            currContent.toggleClass('accordion-content-active',!isPanelSelected)    
            if (isPanelSelected) { currContent.slideUp(); }  else { currContent.slideDown(); }

            return false; // Cancels the default action
        }
    });

});

</script>



{% endblock content %}
