{% extends "admin/app_index.html" %}

{# {% load link_tags %} #}
{# {% contest as contest %} #}

{% load i18n %}

<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
<ul>
{% for choice in choices %}
    <li{% if choice.selected %} class="selected"{% endif %}>
    <a href="{{ choice.query_string|iriencode }}">{{ choice.display }}</a></li>
{% endfor %}
</ul>
{% block content %}

<style>
table thead th {
background-size: auto;
}

</style>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<!-- Tablesorter css -->
<link href="/static/openshift/css/tablesorter/tablestyle.css" rel="stylesheet">
<!--  Tablesorter and tooltip js -->
<script type="text/javascript" src="/static/openshift/js/tablesorter/jquery.tablesorter.js"></script> 
<script type="text/javascript" src="/static/openshift/js/tooltip.js"></script> 


<h1>Submissions Overview</h1>
<br />
<br />
<h2> Choose contest </h2>
<select name="selectContest" onchange="switchContest()">
    {% for con in contests %}
         {% if con.pk == contest.pk %}
            <option selected value = "con{{con.pk}}">{{con.title}}</option>
         {% else %}
            <option value = "con{{con.pk}}">{{con.title}}</option>
            {%endif %}
         {% endfor %}
        </select>
<br />
<br />
<br />
<h2> Select team to inspect </h2>
<hr>
<select name="selectTeam" onchange="updateText()">
 <option value = ''> Choose Manager </option>
 {% for team in team_list %}
 <option value = "team{{ team.pk}}">{{team.name}}</option>
 {% endfor %}
</select>

<br />
<br />

<small>Click on a table column to sort on that field
<br />
Sort multiple columns simultaneously by holding down the shift key and clicking a second
, third or even fourth column header. 
</small>
<br />
<br />
<h3> Onsite teams </h3>
<hr />
<table id="tableTeamStats_onsite" class="table table-bordered table-hover table-condensed tablesorter">
	<thead>
            <tr>
                <th data-toggle="tooltip" data-placement="top" title="The team this regards">Team</th>
                <th data-toggle="tooltip" data-placement="top" title="">Previously Solved Assignments</th>
                <th data-toggle="tooltip" data-placement="top" title="Number of failed attempts">Failed Attempts</th>
            </tr>
    </thead>
    <tbody>
            {% for listitem in team_tr_row_info_onsite %}
            <tr class='clickableRow' 
                href='team{{listitem.team.pk}}/problem{{listitem.problem.pk}}'>
                <td>{{listitem.team}}</td>
                <td>{{listitem.prev_solved}}</td>
                <td>{{listitem.fail_count}} </td>
            </tr>
            {% endfor %}
    </tbody>
</table>

<h3> Offsite teams </h3>
<hr />
<table id="tableTeamStats_offsite" class="table table-bordered table-hover table-condensed tablesorter">
	<thead>
            <tr>
                <th data-toggle="tooltip" data-placement="top" title="The team this regards">Team</th>
                <th data-toggle="tooltip" data-placement="top" title="">Previously Solved Assignments</th>
                <th data-toggle="tooltip" data-placement="top" title="Number of failed attempts">Failed Attempts</th>
                <th data-toggle="tooltip" data-placement="top" title="e.g. timeout, wrong answer">Site-location</th>
            </tr>
    </thead>
    <tbody>
            {% for listitem in team_tr_row_info_offsite %}
            <tr class='clickableRow' 
                href='team{{listitem.team.pk}}/problem{{listitem.problem.pk}}'>
                <td>{{listitem.team}}</td>
                <td>{{listitem.prev_solved}}</td>
                <td>{{listitem.fail_count}}</td>
                <td>{{listitem.site_location}}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>
<br />

<style>
    table.tablesorter tbody td:hover {
        background : #C3C3C3;
    }
   </style>



<h3> Problem Overview</h3>
<hr />
<table id="tableProblemOverview" class="table table-bordered table-hover table-condensed tablesorter">
	<thead>
            <tr>
            <th data-toggle="tooltip" data-placement="top" title="The team this regards">Problem</th>
            <th data-toggle="tooltip" data-placement="top" title="What problem this is about">Successfull attempts</th>
            <th data-toggle="tooltip" data-placement="top" title="">Failed attempts</th>
            <th data-toggle="tooltip" data-placement="top" title="What problem this is about">Total</th>
            <th data-toggle="tooltip" data-placement="top" title="What problem this is about">Success/Total Ratio</th>
            </tr>
    </thead>
    <tbody>
            {% for listitem in prob_attempt_counts %}
            <tr >
            <td >{{listitem.problem}}</td>
            <td>{{listitem.successfull}}</td>
            <td>{{listitem.failed}}</td>
            <td>{{listitem.total}}</td>
            <td>{{listitem.success_ratio}}</td>
        </tr>
            {% endfor %}
    </tbody>
</table>
<br />



<h3> Highscores </h3>
<hr />

<table id="highscoreTable" class="table table-bordered table-hover table-condensed tablesorter">
	<thead>
            <tr>
            <th data-toggle="tooltip" data-placement="top" title="Positions"></th>
            <th data-toggle="tooltip" data-placement="top" title="Teams">Team</th>
            <th data-toggle="tooltip" data-placement="top" title="Offsite">Offsite</th>
            <th data-toggle="tooltip" data-placement="top" title="Solved">Solved</th>
            <th data-toggle="tooltip" data-placement="top" title="Total Score">Total Score</th>
            <th data-toggle="tooltip" data-placement="top" title="Time">Time</th>
            <th data-toggle="tooltip" data-placement="top" title="Year">Year</th>
            <th data-toggle="tooltip" data-placement="top" title="Gender">Gender</th>
            {% for p in problems %}
            	<th data-toggle="tooltip" data-placement="top" title="{{ p.title }}"> {{ forloop.counter }}</th>
            {% endfor %}
            </tr>
    </thead>
    <tbody>
            {% for entry in highscore|dictsort:"total_score"|dictsortreversed:"total_solved" %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{entry.team}}</td>
                <td data-offsite='{{entry.team.onsite}}'>{{entry.site}}</td>
                <td>{{entry.total_solved }}</td>
                <td>{{entry.total_score}}</td>
                <td>{{entry.total_time }}</td>
                <td>{{entry.skill_level }}</td>
                <td>{{entry.gender}}</td>
                {% for x in entry.problemList %}
                {% if x.solved %}
                <td style="background: #90EE90">{{x.tries|add:"1"}}/{{x.attempts}}</td>
                {% elif x.tries %}
                <td style="background: #FFC0CB">{{x.tries}}/{{x.attempts}}</td>
                {% else %}
                <td>{{x.tries}}/{{x.attempts}}</td>
                {% endif %}
                {% endfor %}
            </tr>
			{% endfor %}
    </tbody>
</table>

<script>
$(document).ready(function() 
    { 
        if ($("#tableTeamStats_onsite").find("tr").size() > 1)
        {
            $("#tableTeamStats_onsite").tablesorter( {sortList: [[0,1]]} ); 
        }
        if ($("#tableTeamStats_offsite").find("tr").size() > 1)
        {
            $("#tableTeamStats_offsite").tablesorter( {sortList: [[0,1]]} ); 
        }

        if ($("#tableProblemOverview").find("tr").size() > 1)
        {
            $("#tableProblemOverview").tablesorter( {sortList: [[0,1]]} ); 
        }

        $(".clickableRow").click(function() {
        	window.document.location = $(this).attr("href");
      	});

		$.tablesorter.formatInt = function (s) {
            var i = parseInt(s);
            return (isNaN(i)) ? null : i;
        };
        $.tablesorter.formatFloat = function (s) {
            var i = parseFloat(s);
            return (isNaN(i)) ? null : i;
        };
        $.tablesorter.addParser({ 
            // set a unique id 
            id: 'offsite', 
            is: function(s) { 
              // return false so this parser is not auto detected 
              return false; 
            }, 
            format: function(s, table, cell, cellIndex) { 
              // get data attributes from $(cell).attr('data-something');
              // check specific column using cellIndex
              return $(cell).attr('data-offsite');
            }, 
            // set type, either numeric or text 
            type: 'text' 
        });
        $("#highscoreTable").tablesorter({
        	sortList: [[0,0]],
        	headers : {2 : { sorter: 'offsite' }}
        });
        $(".clickableRow").click(function() {
        	window.document.location = $(this).attr("href");
      	});
    } 
); 

    function updateText()
    {
        window.document.location = $('select[name="selectTeam"] option:selected').val();
    }

    function switchContest()

    {
        window.document.location = $('select[name="selectContest"] option:selected').val();
    }
</script>

{% endblock content %}

