{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}	
<form class="form-horizontal" method="POST" action="" role="form">
	{% csrf_token %}
	<h2>Update team</h2>
	<hr>
	    <div class="form-group">
            {{ form.name.errors }}
            <label for="{{ form.name.id_for_label }}" class="col-lg-3 control-label">{{ form.name.label }}</label> 
	            <div class="col-lg-5">
		            {{ form.name|add_class:"form-control" }}
	            </div>
        </div>
        <div class="form-group">
            {{ form.onsite.errors }}
            <label for="{{ form.onsite.id_for_label }}" class="col-lg-3 control-label">
            {{ form.onsite.label }}
            </label> 
            <div class="col-lg-5">
            {% for radio in form.onsite %}
            <div class="radio-inline">
			  <label for="id_onsite_{{ forloop.counter0 }}">
				{{ radio.tag }}
			    {{ radio.choice_label }}
			  </label>
			</div>
			{% endfor %}
            </div>
        </div>
        <div class="form-group">
            {{ form.offsite.errors }}
            <label for="{{ form.offsite.id_for_label }}" class="col-lg-3 control-label">
            	{{ form.offsite.label }}
            </label> 
            <div class="col-lg-5">
	            {{ form.offsite|add_class:"form-control"}}
            </div>
        </div>
        <div class="form-group">
		<div class="col-lg-offset-3 col-lg-9">
	  		<button type="submit" name='edit' value="edit" class="btn btn-default">{% trans 'Update Team' %}</button>	
	  	</div>
  	</div>  	
</form>
<hr>
<a href="{% url 'team_profile' contest.url %}" >{% trans 'Go Back' %}</a>

{% endblock content %}

