{% extends 'base.html' %}
{% block content %}
<p>

<form action="" method="post">{% csrf_token %}
{{ addMemberForm.as_p}}
<input type="submit" value="Submit" />
</form>

<h3> {{ team.name }}</h3>
Onsite: {{ team.onsite }}
<br>
Offsite: {{ team.offsite }}
<br>
Members:
<br>
{% for member in team.members.all %}
	First name: {{ member.first_name }} 
	<br>
	Last name: {{ member.last_name }}
	<br>
	Email: {{ member.email }}
	<br>
{% endfor %}
<form action="editteam" method="GET">
    <input type="submit" value="Edit Team" />
</form>
</p>
{% endblock content %}