{% extends 'base.html' %}
{% load i18n %}
{% load link_tags %}
{% block title %} Team page {% endblock %}
{% block content %}

{% if team %}	
	<div class="row">
		<span class="col-lg-7">
			<h2>Team page</h2>
		</span>
		<span class= "pull-right">
		{% if contest_started %}
			<span data-toggle="tooltip" data-placement="left" title="Press this button to go to the contest page">
			<a href="{% url 'submission_page' contest.url %}" class="btn btn-primary btn-large">{% trans 'Go To Contest Page' %}</a>
			</span>
		{% elif user.is_staff %}
			<span data-toggle="tooltip" data-placement="left" title="Press this button to go to the contest page, as staff">
			<a href="{% url 'submission_page' contest.url %}" class="btn btn-primary btn-large">{% trans 'Go To Contest Page' %}</a>
			<p><small>Check it out as staff</small><p>
			</span>
		{% else %}
			<span data-toggle="tooltip" data-placement="left" title="This button will be enabled when the contest starts">
			<a href="{% url 'submission_page' contest.url %}" class="btn btn-info btn-large disabled">{% trans 'Go To Contest Page' %}</a>
			</span>
		{% endif %}	
		</span>
	</div>
	<hr>
	
	<em><p style="font-size: 250%;">{{ team.name }}</p></em>
	<p>
	Location:
	<strong> 
	{% if team.onsite %}
		Onsite
	{% else %}
		{{ team.offsite }}
	{% endif %}
	</strong>
	</p>
	<p>
	Leader: 
	<strong> {{ team.leader.first_name }} {{ team.leader.last_name }}</strong> 
	</p>
	
	<br>
	
	
	<h3>Members</h3>
	<table class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Year of Study</th>
          {% if is_leader %} 
          <th>Delete</th>
          {% endif %}
        </tr>
      </thead>
        <tbody>
        {% for member in team.members.all %}
        <tr>
          <td><a href="#">{{ member.first_name }}</a></td>
          <td><a href="#">{{ member.last_name }}</a></td>
          <td><a href="#">{{ member.email }}</a></td>
          <td>{{ member.skill_level }}</a></td>
          {% if is_leader %} 
          <td>
          {% if not member == team.leader %}
          	<a href="{% url 'team_delete_member' contest.url member.id %}">
          	<i class="fa fa-trash-o fa-lg text-danger"></i>
          {% endif %}
          </a></td>
          {% endif %}
        </tr>
		{% endfor %}
      </tbody>
    </table>
    {% if team.members.count >= 3 %}
    <small><em><p> Your team is full </p></em></small>
    {% endif %}
    <br>
    <h3>Pending Invites</h3>
	<table class="table table-striped">
        <tbody>
	    {% if invites %}
	    	{% for invite in invites.all %}
	        <tr>
	        <td><a href="#">{{ invite.email }}</a></td>
	        </tr>
			{% endfor %}
		{% endif %}
      </tbody>
    </table>
	{% if is_leader %}    
	<hr>
	<form class="form-horizontal" method="POST" action="" role="form">
	{% csrf_token %}
		<div class="form-group">
            {{ addMemberForm.email.errors }}
            <label for="{{ field.id_for_label }}" class="col-lg-3 control-label">
            {{ addMemberForm.email.label }}</label> 
            <div class="col-lg-5">
            {{ addMemberForm.email|addcss:"form-control"}}
            </div>
        </div>
	    <div class="form-group">
			<div class="col-lg-offset-3 col-lg-9">
				{% if team.members.count >= 3 or contest_started%}
				<span  data-toggle="tooltip" data-placement="left" title="Your team is full, or the contest has begun">
	  				<button type="submit" name='addMember' value="addMember" class="btn btn-default disabled">{% trans 'Add new member' %}</button>
	  			</span>
	  			{% else %}
	  				<button type="submit" name='addMember' value="addMember" class="btn btn-default">{% trans 'Add new member' %}</button>
	  			{% endif %}	
	  		</div>
  		</div>
	</form>
	{% endif %}
	<hr> 
		<div class="row btn-toolbar pull-right">
			{% if is_leader and not contest_started %}
			<a href="{% url 'team_edit' contest.url %}" class="btn btn-primary btn-sm">{% trans 'Edit team' %}</a>
			<a href=# id="LeaveButton" data-toggle="confirmation" class="btn btn-danger btn-sm">{% trans 'Leave team' %}</a>
			{% elif contest_started %}
			<span data-toggle="tooltip" data-placement="left" title="Sorry, you can't edit your team while the contest is in progress"> 
			<a href="{% url 'team_edit' contest.url %}" class="btn btn-primary btn-sm disabled">{% trans 'Edit team' %}</a>
			</span>
			<span  data-toggle="tooltip" data-placement="left" title="Sorry, you can't leave your team while the contest is in progres">
			<a href=# id="LeaveButton" data-toggle="confirmation" class="btn btn-danger btn-sm disabled">{% trans 'Leave team' %}</a>
			</span>
			{% else %}
			<a href=# id="LeaveButton" data-toggle="confirmation" class="btn btn-danger btn-sm">{% trans 'Leave team' %}</a>
			{% endif %}
		</div>

{% else %}
	<p> You are currently not member of any team. Want to participate in this contest? </p>
	<a href=" {% url 'register_teams' contest.url %}">Register a Team </a>

{% endif %}	

{% endblock content %}
