{% extends 'base.html' %}
{% block content %}

{% if team %}
	<form action="" method="post">{% csrf_token %}
	{{ addMemberForm.as_p}}
	<input type="submit" value="Submit" />
	</form>

	<h3> {{ team.name }}</h3>
	Onsite: {{ team.onsite }}
	<br>
	Offsite: {{ team.offsite }}
	<br>
	Members:
	<br>
	{% for member in team.members.all %}
		First name: {{ member.first_name }} 
		<br>
		Last name: {{ member.last_name }}
		<br>
		Members:
		<br>

	{% endfor %}
	<form action="editteam" method="GET">
    	<input type="submit" value="Edit Team" />
	</form>
	</p>
{% else %}
	<p> You are currently not member of any team. Want to participate in this contest? </p>
	<a href=" {% url 'register_teams' contest.url %}">Registrer Team </a>
{% endif %}
{% endblock content %}